span {
    transition: .3s ease;
    
    &:hover {
        cursor: pointer;
        opacity: .8;
    }
    
    &:not(:last-child) {
        &:after {
            content: '>';
            padding: 0 4px;
            text-decoration: none;
        }
    }
}
