<mat-list>
    <mat-list-item>
        <mat-icon mat-list-icon>create_new_folder</mat-icon>
        <span class="settings__title" mat-line>Доп папки</span>
        <span class="settings__subtitle" mat-line>Добавьте папки в быстрый доступ</span>
        <button (click)="createNewFolder()" mat-icon-button matTooltip="Добавить папку">
            <mat-icon>add</mat-icon>
        </button>
    </mat-list-item>
    <div *ngFor="let folder of folders; index as i" class="settings__ext-folder">
        <mat-list-item>
            <span class="settings__title" mat-line><mat-icon [inline]="true">folder</mat-icon>
                {{getNameFolder(folder)}}</span>
            <span class="settings__subtitle" mat-line>{{folder}}</span>
            <button (click)="removeFolder(i)" color="warn" mat-icon-button matTooltip="Удалить">
                <mat-icon>delete</mat-icon>
            </button>
        </mat-list-item>
    </div>
</mat-list>
