.settings {
    &__content {
        padding: 1rem;
    }
    
    &__field {
        width: 100%;
        max-width: 320px;
        
        &--full {
            width: 100%;
            max-width: 100%;
        }
    }
    
    &__descr {
        padding-right: 15px;
    }
    
    &__title {
        font-size: 1.2rem;
        font-weight: normal;
    }
    
    &__subtitle {
        font-size: 0.7rem;
        font-weight: 300;
        opacity: 0.6;
    }
}

// main dir
.settings {
    &__dirlabel {
        cursor: pointer;
        font-size: 0.9rem;
        opacity: 0.6;
        font-weight: 300;
        border-bottom: 1px dashed #999;
        transition: all ease 0.25s;
        display: flex;
        align-items: center;
        
        .mat-icon {
            padding-right: 6px;
        }
        
        pre {
            margin: 0;
        }
        
        &:hover {
            opacity: 1;
        }
    }
    
    &__dirinput {
        visibility: hidden;
    }
}

// extend folders
.settings {
    &__ext {
        &-folder {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            max-width: 70%;
            margin: 0 auto;
            margin-left: auto;
            border: .5px dashed;
            padding: .2rem;
            border-radius: 4px;
            box-sizing: border-box;
            
            &:not(:last-child) {
                margin-bottom: 0.8rem;
            }
        }
        
        &-name {
            font-size: 0.8rem;
            font-weight: 300;
            padding-left: 1.8rem;
            display: flex;
            align-items: center;
            
            .mat-icon {
                padding-right: 8px;
            }
        }
    }
}

.tab {
    &__title {
        padding: 0 .6rem;
    }
}
